{% extends 'medidores/layout.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Restablecer Contraseña</h3>
                </div>
                <div class="card-body">
                    <p>¿Ha olvidado su contraseña? Introduzca su correo electrónico y le enviaremos un correo que le permitirá restablecerla.</p>

                    <form method="post" action="{{ request.path }}">
                        {% csrf_token %}
                        {% include 'medidores/forms/formRender.html' %}
                        <div class="my-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Enviar Clave de Recuperación</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}